body {
  margin: 0;
  background: linear-gradient(180deg, rgb(218, 238, 181), rgb(235, 235, 235));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: rgb(241, 177, 177);
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/bungee-shade-latin-400-normal.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.my-custom-font {
  font-family: 'MyFont', sans-serif;
}


div.mycontainer {
  width:100%;
  overflow:auto;
}
div.mycontainer div {
  width:32%;  
  float:left;
}